.donor-button{
  background-color: #1354aa;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.donor-button:hover{
    background: #f16b1e;
  border: #f16b1e;
}
.donor-button a{
    color: white;
}
.table tbody tr{
    background-color: #f16b1e;
}